[2018-07-23 17:15] cemeyer opened #2 "Code of Conduct "full text" link broken"
The [URL targeted by the "full text" link](https://code.facebook.com/pages/876921332402685/open-source-code-of-conduct) in [CODE_OF_CONDUCT.md](https://github.com/facebookincubator/oomd/blob/master/CODE_OF_CONDUCT.md) leads to a "The content you’re looking for is not available at this URL" page.

[2018-07-24 00:38] danobi commented on #2
Link is fixed now. Thanks for the report.

[2018-07-24 00:38] #2 closed

[2018-07-25 20:36] dsd opened #4 "Native dependency 'libfolly' not found"
I'm trying to build and test oomd on Debian Stretch but struggling with the libfolly dependency.

I built and installed libfolly with:
[code]

This installed libfolly as a static library into /usr/local.

Now following the oomd build instructions, `meson build` fails with:
[code]

I added `-DCMAKE_INSTALL_PREFIX:PATH=/usr` to the libfolly build so that it goes straight into /usr, but that didn't c

[2018-07-25 22:15] danobi commented on #4
Sorry about the trouble with folly. This is one of the (many) reasons I'm working on removing folly as a dependency. Your best bet is to wait ~1 week for me to finish that work. However if you want to do it now, I have instructions

1. Build folly using autotools: `cd folly/folly && autoreconf -if && ./configure --prefix=/opt/folly && make -j 4`
The cmake build doesn't install the pkg-config files

[2018-07-26 12:31] dsd commented on #4
Thanks. I'll wait for you to remove the dependency.

[2018-08-06 22:55] danobi commented on #4
79275d2d89fb59 is the replacement code. Will change all the call sites next

[2018-08-10 20:35] #4 closed

[2018-08-13 16:30] danobi opened #11 "Figure out how to make installed binary name 'oomd'"
`oomd` is currently installed as `/usr/local/bin/oomd_bin`. This is because there _must_ be a `oomd` directory in the build directory. The tests are wired to look in `./oomd/fixtures/...` because of a FB tooling limitation. Therefore, the binary executable was renamed to `oomd_bin`.

There _has_ to be a way to change the name of the installed binary. I'm not sure running a script and renaming the

[2018-08-14 05:20] danobi opened #12 "Programmatically create test fixtures instead of checking in test files"
Every test currently shares `oomd/fixtures/cgroup`. This is way too much coupling. There should be a `TestUtil` library (or similar) that abstracts this file creation away until run time.

[2018-08-14 05:40] danobi opened #13 "Set up a CI environment so the open source build and tests are regularly exercised"
Internally at FB we have really great build tools and test coverage. However, that's a totally separate build system (than meson). We need open source tooling as well.

[2018-08-19 19:10] SauravPrakash98 commented on #11
I want to attempt this, please can you explain a bit more.

[2018-08-20 16:05] danobi commented on #11
@SauravPrakash98 , sure. a21a58461043d76 adds install support to the meson build. When oomd gets installed via `sudo ninja install`, oomd's name is `/usr/local/bin/oomd_bin`. I'd be great if the name was `/usr/local/bin/oomd`.

[2018-08-20 17:27] danobi opened #15 "Have Fs::readDir() lstat instead of use d_type"
According to `man 3 readdir`, `d_type` is not supported on all filesystems. It turns out XFS is one of those unsupported filesystems.

Instead of `if (dir->d_type == DT_REG) { ... }`, there should probably be another `lstat` call.

[2018-08-21 02:03] gurungrahul2 commented on #15
Hey, I saw the label good first issue and got interested, can you explain this bug a little more?

[2018-08-21 02:34] danobi commented on #15
Hi @gurungrahul2 , this is the line in question: https://github.com/facebookincubator/oomd/blob/master/util/Fs.h#L74 . Is there any particular clarification you need?

[2018-08-21 11:29] gurungrahul2 commented on #15
can you give me links to any documentation I need to study to solve this bug, something like to understand the background.

[2018-08-21 15:42] danobi commented on #15
Here is some documentation on `readdir`: http://man7.org/linux/man-pages/man3/readdir.3.html . Note how it says

[2018-08-25 13:00] gurungrahul2 commented on #11
I have a question, why exactly can't we configure it to install as /usr/local/bin/oomd , is it because system will look at it like tests ?

[2018-08-25 16:15] SauravPrakash98 commented on #11
@gurungrahul2 In meson.build after you change the name of the executable from ```oomd_bin``` to ```oomd```, then running ```meson build && ninja test -C build``` is unable to create the binary in the ```build``` folder

[2018-09-07 07:33] dsd opened #18 "SIGABRT on launch, no backtrace"
Thanks for removing the libfolly dependency that caused me trouble before.

Looking again now, I'm trying to get it working on Debian with systemd-239. The build and install went OK. On first launnch of `oomd_bin` it segfaulted (with no other error that I could see) and some tracing with gdb indicated that it was because I need to put a config file in place, so I added `/etc/oomd.json`

[code]

Wi

[2018-09-09 16:33] smita-koralahalli opened #19 "Unable to build oomd"
Trying to build and test oomd on Ubuntu-16.04 but facing an error as "This file requires compiler and library support for the ISO C++ 2011 standard".

Where should I enable the -std=c++11 or -std=gnu++11 compiler options?

After meson build && ninja -C build it fails as

[2018-09-11 00:04] danobi commented on #19
Hi @smita-koralahalli, thanks for the report. Can you try #20 to see if it fixes your issue?

[2018-09-11 01:11] smita-koralahalli commented on #19
Hi @danobi . It seems the error still exists after the modification in meson.build. Few sample error and warning messages after I get that "compiler and library support error for ISO C++ 2011" are as below:

Please let me know where I'm going wrong.

[2018-09-11 02:18] smita-koralahalli commented on #19
Yes, thank you its been resolved. !!

Lastly I'm getting one linking error now!

[2018-09-11 04:32] smita-koralahalli commented on #19
I got it built and executable oomd_bin created at usr/local/bin. Thanks for your help!

[2018-09-11 18:33] danobi commented on #18
Was there a message or line number that came with the abort? I may have to rethink the async logging a bit, as log messages may not be making it out of the queue in time before the crash.

[2018-09-13 09:19] dsd commented on #18
No, there wasn't anything printed apart from what was pasted.

[2018-09-17 16:55] danobi commented on #18
Sorry about the spotty response time. I'm going to commit a few patches that enable inline logging (ie not async), so we can debug this better. I think we're crashing before the logging thread can flush everything.

[2018-09-17 16:56] danobi commented on #18
BTW I could not reproduce on my machine, but that doesn't surprise me. (Grumble grumble something about early stage projects)

[2018-09-17 20:49] danobi commented on #18
Could you update your build to fe8363ff02e and then try:
[code]
and get it to crash again?

I think we only explicitly generate SIGABRTs in the codebase. There should always be a log message before a SIGABRT. Hopefully this patch gets us some more info.

[2018-09-18 23:00] danobi commented on #18
I changed my mind on the compile option. It's an env var now (bfd75afa30b9):
[code]

[2018-09-28 16:04] danobi commented on #12
I actually think checking in fixture files is ok. What I don't think is ok is all the tests sharing one fixture directory. Fortunately, oomd2 tests create separate directories.

[2018-09-28 16:04] #12 closed

[2018-10-09 16:53] danobi opened #22 "Write extensive howto documentation"
* how to install
* how to read logs
* how to write plugins
* how to customize common behaviors

[2018-10-23 09:26] yurikoles opened #24 "[FR]Please provide systemd integration"
Please ship service for systemd.

[2018-10-30 16:28] danobi commented on #24
Seems reasonable. I'll put it on my list of things to do

[2018-11-12 14:39] Hyperion101010 commented on #11
it is easy just change the executable name and then it installs as oomd_bin
it is not a bug just a change in file name :) happy to apply patch .

[2018-11-12 23:04] danobi commented on #11
@Hyperion101010 I'm not sure what you mean, could you supply a patch?

[2018-11-13 05:53] Hyperion101010 commented on #11
here are some updates i ran the build ,so it installed correctly "the oomd named binary in the usr/local/bin" but when i went to run the binary it gave permission error ,
----------------------------------the output message------------------------------------------------------
 open: Permission denied
(inl) [../Log.cpp:88] Unable to open outfile (default=/dev/kmsg), not logging
terminate called af

[2018-11-13 06:59] Hyperion101010 commented on #11
![screenshot from 2018-09-20 10-50-09](https://user-images.githubusercontent.com/32175777/48396206-a7dc7900-e73f-11e8-9b19-fab8bbdbcdd6.png)
--------->on line 54 i changed name to oomd from oomd_bin

[2018-11-14 06:42] danobi commented on #11
Ignoring the changed meson files (which should not be part of the commit), it looks like you changed the executable target from `oomd_bin` to `oomd`. I'm not sure this will work. When I build with that change, I get this output:

[code]

[2018-11-14 06:51] danobi opened #25 "Handle case where cgroups disappear in `Oomd::updateContext()`"
Between the time we verify a cgroup exists and has all the right controllers enabled and the time we examine the actual controller files, the cgroup can go away. In other words, between loading all the existing cgroups [here](https://github.com/facebookincubator/oomd/blob/master/Oomd.cpp#L102) and actually inspecting the state [here](https://github.com/facebookincubator/oomd/blob/master/Oomd.cpp#L

[2018-11-14 07:37] Hyperion101010 commented on #11
can you run the install in a virtual env

[2018-11-15 07:19] Hyperion101010 commented on #11
now try running it .
took me two days but its fine i did something ,
the issue was in meson build
1>if we gave it name as "oomd" then there was a directory created for fixtures
thus now when main.cpp was running it saw it as a directory rather than a oomd binary
------------------------solution---------------------------------------------------
2>what i did was renamed the mkdir to make "oomd_fix"

[2018-11-15 19:14] danobi commented on #11
@Hyperion101010 That works for creating the executable but it would break the tests. Unfortunately the fixtures have to stay in a folder named `oomd`. It's kind of crappy, I know. I was really hoping there was a meson option to install the binary as a different name.

[2018-11-17 05:45] Hyperion101010 commented on #25
https://github.com/Hyperion101010/oomd
have a look

[2018-11-17 18:16] danobi commented on #25
Can you open a pull request so I can leave comments?

[2018-11-17 18:17] danobi commented on #11
I don’t think wrapping the build system with what sounds like another build system is a good idea. I think the correct way to do this would be to find the correct meson option or try to implement this feature in meson itself. Or if possible, generate the executable inside another directory so there’s no name collisions.

[2018-11-18 09:00] Hyperion101010 commented on #22
hey man i can do that in my free time :)
but what should i follow like any rules ?
also i pulled the repo you can check

[2018-11-19 16:20] danobi commented on #22
I'll be writing this after I land the oomd2 PR. It's gonna be a brain dump of information so it should probably come from me.

[2018-12-08 15:09] Hyperion101010 commented on #25
danobi is my 26 patch submitted ?

[2018-12-10 18:25] danobi commented on #22
Done. Docs are in `docs/`

[2018-12-10 18:25] #22 closed

[2018-12-10 19:12] danobi opened #36 "Add a config checker cmd line option"
oomd configs are first parsed and then compiled. If the config is invalid, oomd currently crashes. This is fine-ish but also suboptimal. It would be nice if users could run `oomd --check /my/config/file` and oomd would exit 0 on "good" config and exit non-zero on "bad" config, along with the relevant error messages.

`Oomd::Config2::compile` does all the error checking. You'll probably want to loo

[2018-12-10 19:14] Hyperion101010 commented on #36
look good !

[2018-12-10 19:14] Hyperion101010 commented on #36
we must try for optimizatio's

[2018-12-14 04:38] danobi opened #38 "Create a sane desktop linux configuration"
This should be a good "fits most" configuration to prevent unresponsive desktop systems.

This issue will track progress.

[2018-12-14 04:39] danobi commented on #38
First I had to turn on systemd's cgroup2 only support by adding `systemd.unified_cgroup_hierarchy` to my kernel boot options.

[2018-12-14 04:47] danobi commented on #38
We're missing a couple of pieces for this to happen:
* systemd has a cgroup2 bug: https://github.com/systemd/systemd/pull/10876 . It's since been fixed but I don't believe the patch has made its way into a release yet
* Linux 4.20 contains the PSI patches. That also has not been released.

Note that these are both out of my control, so expect more progress here in a couple of weeks.

[2018-12-14 05:05] danobi commented on #38
#40 should be valid, but is untested on my home machine. (It has been tested on developer machines at FB, though, with minor modifications).

[2018-12-14 05:07] Hyperion101010 commented on #38
so will that patch , eliminate this bug ?

[2018-12-15 21:45] nomego commented on #38
Ok so the systemd boot option is needed, what's the effect of the cgroup2 bug and how do we now when it's a release?
Are the PSI patches merged and available in an 4.20 RC ?

[2018-12-17 06:47] danobi commented on #38
@nomego IIRC, the systemd bug resulted in the memory controller not being delegated to cgroups in `user.slice`. The bug doesn't happen all the time but it happened often enough at FB.

The PSI patches have been merged and I do believe they're in 4.20 RC.

[2018-12-17 08:01] danobi commented on #38
@nomego IIRC, the systemd bug resulted in the memory controller not being delegated to cgroups in `user.slice`. The bug doesn't happen all the time but it happened often enough at FB.

The PSI patches have been merged and I do believe they're in 4.20 RC.

[2018-12-22 14:36] Hyperion101010 commented on #36
Now can I start on this one?

[2018-12-25 09:56] Hyperion101010 commented on #36
solved it! , I'll upload it,  but I can't figure out how can I have one more branch in the fork.

[2019-01-04 19:23] hammerandtongs opened #46 "Incorporate pressure stall improvements"
Just to note there are some pressure stall patches past 4.20 that the android team are working on to improve the monitoring latency for handsets/desktops -

https://lwn.net/ml/linux-kernel/20181214171508.7791-1-surenb@google.com/

Lwn wrote it up here https://lwn.net/SubscriberLink/775971/f10dccac9ed9a965/

[2019-01-04 20:50] danobi commented on #46
Yeah I've been talking with Johannes about this. It'll be nice for oomd to have edge triggered events (vs polling the system). I've already volunteered to test out patches once they're ready.

[2019-01-05 01:14] danobi commented on #38
Linux 4.20 got packaged for arch linux and I think systemd is prepping a v240 release. I'm going to start working on this again since we are unblocked.

[2019-01-21 09:32] ufo19890607 commented on #11
Hi, all , I'm sure that I've setup the jsoncpp and ninja, but when I run 'meson build && ninja -C build'

[root@bogon oomd]# meson build && ninja -C build
The Meson build system
Version: 0.47.2
Source dir: /home/ufo/oomd
Build dir: /home/ufo/oomd/build
Build type: native build
Project name: oomd
Project version: 0.1.0
Native C++ compiler: c++ (gcc 4.8.5 "c++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16)

[2019-01-22 06:36] ufo19890607 opened #47 "Unable to build the oomd binary"
Hi, all , I'm sure that I've setup the jsoncpp and ninja, but when I run 'meson build && ninja -C build'

[root@bogon oomd]# meson build && ninja -C build
The Meson build system
Version: 0.47.2
Source dir: /home/ufo/oomd
Build dir: /home/ufo/oomd/build
Build type: native build
Project name: oomd
Project version: 0.1.0
Native C++ compiler: c++ (gcc 4.8.5 "c++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16)

[2019-01-23 19:41] danobi commented on #47
Did you install the jsoncpp development packages? What do the following commands print for you?
[code]

Here's my machine for reference:
[code]

[2019-01-31 22:38] danobi commented on #38
8d21de7e6b3 has a basic systemd configureation

[2019-01-31 22:38] #38 closed

[2019-02-13 22:42] danobi commented on #47
Closing due to inactivity.

[2019-02-13 22:42] #47 closed

[2019-02-14 21:20] danobi opened #50 "Add interface to pressure_above and pressure_rising_beyond for root host pressure monitoring"
It would be nice if pressure_above and pressure_rising_beyond plugins were able to monitor root host pressure.

Interface:
* root host is encoded by '/'. ie cgroup=/ as the arg for the plugins

Code changes:
* In PressureAbove::run and PressureRisingBeyond::run, during cgroup wildcard resolution, if the unresolved cgroup == '/', insert '/' into the list of resolved cgroups. Then special case Fs::r

[2019-02-23 22:57] andrew880 commented on #36
resolved

[2019-02-24 00:15] #36 closed

[2019-03-06 22:17] jpakkane opened #54 "A few improvements to build definition files"
The `meson.build` file has a couple of common antipatterns. Fixing them would reduce the amount of code and make it more portable and "mesonic" for lack of a better term.

The system adds `.` as an include path. This is not necessary as in Meson the current source and build dirs are always added to the include path.

Setting the C++ version should not be done with custom args, but instead by setti

[2019-03-10 16:06] phanimahesh opened #55 "Allow plugins to be written in C"
Currently it looks like the only way to write plugins is to write them in c++.

Allowing plugins to be written in C opens up a lot of possibilities - not just C, but any language that can create C-ABI compatible stuff can be used for writing the plugin, and that list is _huge_ compared to just C++. As I understand it, C++ has no well defined ABI which makes it  hard to interface with it from any o

[2019-03-11 17:56] danobi commented on #55
This sounds like a useful idea and I think it should be possible. Similar to how there's a `BaseKillPlugin`, I could see a `BaseCPlugin` providing a C interface to oomd's plugin API.

In theory the only C++ interfaces you'd need a C API for are the ones inside `BasePlugin.h`. There's a bunch of helper functions scattered around `util/` but it's not strictly necessary to use them in plugins.

Then

[2019-03-11 17:58] danobi commented on #54
Thanks for the tips; the clean ups are on my todo list now.

[2019-03-25 08:01] disaster123 opened #57 "oomd should respect OOMScore"
Currently oomd also kill processes or groups which have an OOMScore of -1000. It would be nice to ignore those. Another possibility would be to define cgroups which should be ignored.

[2019-03-25 17:30] danobi commented on #57
Yeah, the blacklist is on my todo list. Internally we have a modified plugin that does blacklisting but I need to generalize it a bit more.

As for the oom_score, that's probably a no-go. A lot of oomd's value comes from the explicit, one-location configuration, and watching oom_score goes against that idea.

[2019-03-25 18:39] disaster123 commented on #57
regarding oom_score you're right that makes no sense. But a blacklist would be really useful.

[2019-03-27 18:38] danobi opened #58 "Create generic blacklist mechanism for arbitrary cgroups"

[2019-03-27 18:39] danobi commented on #57
Filed #58 to track

[2019-03-27 18:39] #57 closed

[2019-04-14 07:52] hakavlad commented on #47
@danobi

Unable to build the oomd binary:

[code]

How can I fix it?

[2019-04-14 08:13] hakavlad commented on #47
And with latest meson:

[code]

[2019-04-14 08:16] hakavlad commented on #47
Yes:
libjsoncpp-dev
library for reading and writing JSON for C++ (devel files)
Version: 1.7.4-3

[2019-04-14 08:37] hakavlad commented on #47
Could you specify the minimum versions of dependencies (meson, jsoncpp) required for building oomd?

[2019-04-14 08:39] hakavlad commented on #47
@danobi

Could you write step-by-step guides for mere mortals on installing oomd on different versions of popular distributions?

[2019-04-14 12:58] hakavlad commented on #22
How to read logs? I cannot find it in docs.

[2019-04-14 16:16] hakavlad opened #61 "Corrective actions doesn't taken"
I ran oomd with desktop.json. And at low memory oomd doesn't kill OOM (memhog was killed by OOMK):

![](https://i.imgur.com/Lrx3QYj.png)

Is it OK?

[2019-04-17 03:25] danobi commented on #47
Hi @hakavlad.

For your specific build error, you need to use a newer compiler. GCC 8+ or clang 6+ should work.

Yes, thanks for reminding me. I've been meaning to do that. I'll try to get a production setup draft up before the end of the week.

[2019-04-17 03:26] danobi commented on #22
Logs are printing to stderr. If oomd is attached to a terminal, you should see it. If it's being managed by systemd, you can look via `journalctl -u $OOMD_SERVICE_NAME`.

[2019-04-17 03:28] danobi commented on #61
It looks like oomd isn't picking up any cgroups to monitor. Are you running systemd? If so, what does your cgroup hierarchy look like?

[2019-04-17 15:48] hakavlad commented on #61
Yes. It's Fedora 29 with default cgroups settings.

[2019-04-17 15:49] hakavlad commented on #47
@danobi Thank you!

[2019-04-17 15:50] hakavlad commented on #22
@danobi Thank you!

[2019-04-17 16:12] hakavlad commented on #61
https://pastebin.com/WiJndMfa

[2019-04-17 17:23] danobi commented on #61
It looks like you're on cgroup1. You'll need to be on cgroup2 for oomd to work.

[2019-04-18 10:13] hakavlad commented on #61
OK, thanks, cgroup2 mounted at `/sys/fs/cgroup/unified` on my distro. I ran oomd as
[code]

Next problem: output like follow:
[code]

I tried to enable memory controller (as recommended in https://git.kernel.org/pub/scm/linux/kernel/git/tj/cgroup.git/tree/Documentation/admin-guide/cgroup-v2.rst):

[code]

and got next output:

[code]

How can I fix it and enable memory controller?

[2019-04-18 10:18] hakavlad commented on #61
hierarchy: https://pastebin.com/ffeyhGF6

[2019-04-18 10:25] hakavlad commented on #61
Maybe this should be remarked in readme:

oomd required to work:
- cgroup2 must be enabled ant path to cgroup2 dir must be correctly specified via `-f` option
- cgroup memory controller should be enabled (and how to enable it)

[2019-04-18 11:32] hakavlad commented on #47
@danobi
Maybe it should be mentioned in https://github.com/facebookincubator/oomd#building-and-installing

[2019-04-18 14:44] hakavlad commented on #61
I added `cgroup_no_v1=memory` to boot cmdline to fix the problem:

       use via a mount against a cgroup v1 hierarchy.  Or, to put things
       another way, it is not possible to employ the same controller against
       both a v1 hierarchy and the unified v2 hierarchy.  This means that it
       may be necessary first to unmount a v1 controller (as described
       above) before that controlle

[2019-04-19 12:22] bulbigood commented on #61
How did you make the memory controller stay on reboot? I did everything you wrote, but cgroup.subtree_control is reset.

[2019-04-19 12:39] hakavlad commented on #61
I didn't make it stay on reboot. You can edit `/etc/default/grub`, add `cgroup_no_v1=memory` to GRUB_CMDLINE_LINUX_DEFAULT line, and  run `grub2-mkconfig -o /boot/grub2/grub.cfg` if you on Fedora.

[2019-04-19 12:53] hakavlad commented on #61
Turn on memory controllers is not inherited by the underlying groups (for example, I enabled controller in system.slice, but it was not enabled in system services). It's a next problem.

[2019-04-19 12:59] bulbigood commented on #61
I ran into the same problem. OOMD throws out many warnings. That's why I wanted to try to find a way to install a controller when mounting cgroup on startup.

[2019-04-19 13:16] hakavlad commented on #61
`oomd` needs more documentation.

It's not enought. Cgroup2 was enabled, and `oomd` behavior seemed unexpected.

`oomd` should crash if `/sys/fs/cgroup` is not cgroup2 root dir to prevent unexpected behavior (and a warning should be displayed: specify the correct path to the сgroup2). Otherwise, his behavior will seem good, but in a critical situation, he screwed up.

[2019-04-19 13:35] bulbigood commented on #61
I went further.
I added the following parameters:
cgroup_no_v1=all cgroup_disable=cpu,io cgroup_enable=memory swapaccount=1

cgroup_no_v1 turned off all bindings to cgroups, so systemd did not mount cgroup_v2 to /sys/fs/cgroup/unified, but did it right in /sys/fs/cgroup.
Now -f parameter is not required for oomd.

After reboot a got this:
$ cat cgroup.subtree_control
memory pids

But oomd again pr

[2019-04-19 13:44] hakavlad commented on #61
How do you like it, @danobi?

[2019-04-19 18:04] danobi commented on #61
Thank you for the feedback. I'll make sure to include all the suggestions when I start drafting the production setup guide this afternoon.

Re: cgroup1 + cgroup2: there will probably be subtle issues if oomd is used on a mixed hierarchy, ie some controllers on cgroup1 and some on cgroup2. I suggest keeping the system cgroup2 only and letting the hierarchy be managed by systemd. I think there's a s

[2019-04-19 18:05] danobi commented on #61
@bulbigood Can you share your config? I think I saw that issue before and maybe fixed it.

Another thing is that some distros set the kernel `CONFIG_MEMCG_SWAP=n` (ie disable memory cgroup swap control), so that might cause some issues.

[2019-04-19 18:07] danobi opened #62 "Crash oomd on startup if `--cgroup-fs` path is not cgroup2"
Letting oomd be silently run against a cgroup1 hierarchy could lead to subtle issues down the line.

[2019-04-19 18:07] danobi commented on #62
Reported in #61

[2019-04-21 06:05] hakavlad commented on #62
@danobi

You can find actual cgroup2 root location in `/proc/mounts`:

[code]

Perhaps it is worth taking the default cgroup2 root from `/proc/mounts` instead of using `/sys/fs/cgroup` by default.

[2019-04-21 06:08] hakavlad commented on #62
Crash only if crgoup2 is not mounted. Take cgroup2 location from /proc/mounts.

[2019-04-21 06:16] hakavlad commented on #61
It's an ERROR if corrective actions cannot be performed without it.

[2019-04-21 06:17] hakavlad commented on #62
Crash if memory controller not enabled (it is ERROR, not WARNING).

[2019-04-21 10:19] bulbigood commented on #61
@danobi
$ zgrep CONFIG_MEMCG /proc/config.gz
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_MEMCG_KMEM=y

My boot options: https://pastebin.com/E1DCCLDt
oomd_bin log: https://pastebin.com/V6tDMM6C

[2019-04-22 18:37] danobi commented on #62
Oh yeah I like this idea. I'll modify the issue

[2019-04-22 18:40] danobi opened #64 "Pull --cgroup-fs default from /proc/mounts"
Instead of setting the default to be `/sys/fs/cgroup`, it would be better to figure out the cgroup2 mount point from `/proc/mounts`/.

If cgroup2 is not mounted, we can fail with a helpful error message.

[2019-04-22 19:10] #24 closed

[2019-04-23 00:57] danobi commented on #61
@bulbigood can I ask what commit you're built against? I think this issue was fixed in deb7c91dc284e .

I introduced this check: https://github.com/facebookincubator/oomd/blob/master/Oomd.cpp#L216-L219

[2019-04-25 17:06] bulbigood commented on #61
@danobi I compiled the latest version, and on it such a problem. Maybe the problem in oomd dependencies? I'll see which versions of the dependent packages.

[2019-05-29 13:36] urugang opened #67 "how to use in ubuntu 19.04?"
my system is ubuntu 19.04.
without cgroup-fs specified,  it reported error:
[code]
with cgroup-fs specified with /sys/fs/cgroup/unified, it generated warnings.
I did not know whether it is ok, and how I can check it.
[code]

[2019-05-30 17:22] danobi commented on #67
This probably means you cgroup delegation is not turned on. Can you try setting memory delegation [0] on user.slice and system.slice on and see if it fixes it?

--
[0]: https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html#Delegate=

[2019-06-19 10:08] disaster123 opened #71 "gcc-6: is no longer supported since commit: 4b9f45bb"
Until Commit 4b9f45bb i was able to build oomd on current debian stretch using gcc-6.

Now i get the following errors:
[code]

[2019-06-19 12:30] disaster123 commented on #58
Is there any workaround available? I would never ever like to kill the database service but it is part of the system.slice

[2019-06-19 12:32] disaster123 opened #72 "oomd breaks in case of missing memory controller"
While oom prints:
[code]

it does not seem to ignore it:
[code]

oomd crashes at that point

[2019-06-19 18:20] danobi commented on #71
Unfortunately oomd is using some c++17 features. If gcc6 doesn't have support, you'll need to find a way to upgrade your compiler.

[2019-06-19 18:20] #71 closed

[2019-06-19 18:20] danobi commented on #67
Closing due to inactivity. Please reopen as necessary.

[2019-06-19 18:20] #67 closed

[2019-06-19 18:24] danobi commented on #58
Yes, you could move your database service to another slice that oomd isn't monitoring, like `oomd_exempt.slice`.

Still need to work on this feature at some point...

[2019-06-19 20:10] danobi commented on #72
Is this reproducible? Also, is there a delay in time between those two log blocks?

If no on the first and yes on the second question, it might be a race related to #25 . I'll put up a fix for that first and see if it helps.

[2019-06-19 20:28] disaster123 commented on #72
No, there's no delay. Yes it happens always if action kill_by_memory_size_or_growth is triggered. No it's not a race that cgroup did never exist.

[2019-06-19 21:37] danobi commented on #72
Ah that makes sense. I think I know the issue. Putting up a fix shortly.

We've got someone addressing the root issue -- oomd plugins should be receiving all their information from core oomd. Right now a lot of plugins independently pull cgroup information from the filesystem. This is bad b/c we'd rather not have every plugin reimplement error checking. It also makes tests harder to write.

[2019-06-19 21:41] #25 closed

[2019-06-20 00:10] danobi commented on #72
Please reopen if 248ff9f didn't fix the issue.

[2019-06-23 17:14] disaster123 commented on #72
No idea how to reopen - but no it does not fix the problem.

Output is now:
[code]

[2019-06-25 09:10] disaster123 commented on #72
@danobi please reopen

[2019-06-25 11:19] danobi commented on #72
Sorry about the delay. Can you post your oomd config? It might be another plugin that's pulling cgroup fs data independently.

[2019-06-25 11:40] disaster123 commented on #72
sure:
[code]

[2019-06-25 13:37] danobi commented on #72
Thanks.

#73 should fix it. It might be a day or two before it's merged -- the usual code review delays. If you get a chance, could you try out the patch?

[2019-07-21 08:37] hakavlad opened #74 "Integration with Nagios, Zabbix etc"
How to integrate oomd with monitoring systems? Are there add-ons for collecting metrics from oomd for these systems? I think it would be useful to track oomd events using centralized monitoring systems for owners of large server infrastructure.

[2019-07-22 19:35] brianjychan commented on #74
Thanks for the issue. We're developing a stats collection feature, will keep you updated!

[2019-08-11 05:01] hakavlad opened #76 "--version"
Please add -v and --version flags.

[2019-08-11 05:13] hakavlad opened #77 "Build warnings"
[code]

Is it OK?

Ubuntu 19.04

[2019-08-11 06:06] hakavlad opened #78 "Output spam: [../util/Fs.cpp:224] Unable to open ../memory.stat"
Oomd works with output spam:

[code]

Full output: http://okturing.com/src/6737/body

Latest oomd on Ubuntu 19.04.

[2019-08-11 06:30] hakavlad opened #79 "High CPU usage"
oomd uses about 6% CPU whith desktop.json and `--interval 1`.

![](https://i.imgur.com/xxuWQwT.png)

Is it OK?

[2019-08-11 07:42] hakavlad commented on #61
`systemd.unified_cgroup_hierarchy=1 swapaccount=1` in boot cmdline fixes the problem. Other boot options is overhead.

https://www.freedesktop.org/software/systemd/man/systemd.html#systemd.unified_cgroup_hierarchy

Now oomd works and kills memory hogs (and innocent processes too, seems like oomd kills all processes in memhog.scope, not only fattest process), output: http://okturing.com/src/6737/bo

[2019-08-11 10:12] hakavlad opened #80 "oomd fails to see the problem if SwapTotal=0 and MemAvailable=0"
May be it should be documented.

Case:
SwapTotal=0
oomd started with `-i 1`

I ran memory hog, and at the end system hangs, oomd doesn't kill anything.

Maybe oomd should acts like earlyoom https://github.com/rfjakob/earlyoom and  nohang  https://github.com/hakavlad/nohang:
if  `MemAvailable < mem_threshold` _and_ `SwapFree < swap_threshold`, not only if `SwapFree < threshold`.

[2019-08-11 10:23] #61 closed

[2019-08-11 10:39] hakavlad commented on #80
oomd doesn't help you in the case described in https://lkml.org/lkml/2019/8/4/15

[2019-08-12 13:23] hakavlad commented on #79
Comparison of userspace killers:

[code]

[2019-08-12 19:02] danobi commented on #76
Sounds reasonable

[2019-08-12 19:08] danobi commented on #64
We have cgroupfs checking (where oomd will validate that --cgroup-fs param is a valid cgroup2 filesystem)

[2019-08-12 19:08] #64 closed

[2019-08-12 19:14] danobi commented on #77
Yeah both warnings are ok. Just the compiler being picky.

The first one is probably harmless. Second one I gotta put in a switch flag or something. I'll put up a patch soon.

[2019-08-12 22:15] danobi commented on #79
We see this internally too. Something like 4.5% of a core all the time. When we profiled it we saw most of the cost coming from walking/reading cgroupfs. At some point in the next 6 months I'm planning on using the edge triggered PSI epoll interface to see if we can cut down on CPU.

[2019-08-12 22:28] #77 closed

[2019-08-12 22:59] danobi commented on #78
I stared at the code for a bit and I think I know what's going on. You're right; the errors don't affect functionality. However, it was symptomatic of a deeper issue. I have the fix in https://github.com/danobi/oomd/tree/memory_reclaim_stat . Do you mind trying it out?

I've explained the details of the bug in the commit message.

[2019-08-12 23:05] danobi commented on #80
PSI based oom killing doesn't work well without swap. Without swap, the system runs out of physical memory too fast and enter the "death spiral" before oomd has time to react.

With swap on, the system will get slowed down with swapping anonymous pages for long enough for oomd to react. In general, having swap on non-latency-critical systems is pretty good. Here's an excellent article by my collea

[2019-08-12 23:12] danobi commented on #80
Closing b/c this will be a wontfix. We can further discuss here if you want here.

[2019-08-12 23:12] #80 closed

[2019-08-12 23:14] danobi commented on #80
Updating the docs now

[2019-08-13 00:04] #76 closed

[2019-08-13 00:16] danobi commented on #61
Will do.

Yeah that's by design. The smallest granularity oomd will operate on is a cgroup. Doing per-process is kind of a mess, especially when multiple teams own different services on a system. It's much easier to delegate a cgroup tree than to try and manage individual processes everywhere.

[2019-08-13 11:10] hakavlad commented on #78
[code]

[2019-08-13 11:29] hakavlad commented on #78
[code]

All right.

[2019-08-16 11:19] hakavlad opened #84 "Changelog"
Please make CHANGELOG.md

[2019-08-16 12:16] hakavlad opened #85 "Cannot add to LGTM"
https://lgtm.com/logs/c3ce5f912d42b4db1ecc233bf2ad41b4e19c1141/lang:cpp

[2019-08-16 13:14] hakavlad commented on #80
Just don't use PSI-based oom killing without swap, use MemAvailable--based oom killing instead.

[2019-08-16 13:29] hakavlad commented on #80
It shows the next problem: min interval is 1 sec.
For example, earlyoom has intereval 0.1 - 1 sec (and tiny CPU usage), it is enough to handle 'runs out of physical memory too fast'.

[2019-08-16 13:33] hakavlad commented on #80
This is the main reason why many do not use swap.

[2019-08-16 14:45] hakavlad commented on #85
OK, it's not oomd problem, it's LGTM's problem.

[2019-08-16 14:45] #85 closed

[2019-08-16 15:11] hakavlad commented on #79
What files does oomd monitor besides memory.pressure? memory.stat? memory.current? something else?

Can I configure oomd so that it only monitors /proc/pressure/memory or only /foo/bar/memory.pressure (and nothing more to decrease CPU usage)?

[2019-08-16 19:43] danobi commented on #80
That might work for simple workloads, but IMO this is a local optimum. For example, how would this work with cgroups that reserve chunks of memory via memory.min? What if a host is configured with a high min_free_kbytes? What if the host runs out of MemAvailable memory but there's a lot of reclaimable memory in use (eg dirty pages). Granted, these sorts of things are generally not a concern on des

[2019-08-16 19:53] danobi commented on #79
https://github.com/facebookincubator/oomd/blob/master/Oomd.cpp#L192-L201

That information is collected for every cgroup oomd is assigned to monitor.

Yes, that should be possible. You probably only want the `pressure_above` plugin. See the docs for details on how to configure.

[2019-08-16 19:57] danobi commented on #84
Yeah, we probably should.

[2019-08-17 02:48] hakavlad commented on #79
Seems like PSI epoll interface won't solve the problem (memory.pressure files is  small portion of readable files).

[2019-08-19 21:32] danobi commented on #79
Yeah that's true. I was thinking we might be able to introduce some short circuit behavior w/ the rule handling. But the problem is that some plugins need to be run to update their sliding windows. We may need to do something clever.

[2019-08-19 21:33] danobi commented on #79
That or I go try and fix improve the perf on the kernel side. Need to decide which is more feasible. The kernel stuff would probably benefit everyone else the most.

[2019-08-22 21:13] #78 closed

[2019-08-23 13:27] agios commented on #67
For anyone else having this problem, the solution is to add `systemd.unified_cgroup_hierarchy=1` to your boot command line, instead of setting `--cgroup-fs /sys/fs/cgroup/unified/`

The reason is that if you have both cgroups 1 and 2 mounted at the same time, the controllers are not accessible under cgroups v2, see here: https://serverfault.com/a/931180

[2019-09-01 13:23] hakavlad opened #90 "Packaging for Fedora"
Fedora Rawhide is ready to oomd packaging. Cgroup2 is used by default and swapaccount is enabled by default.

[2019-09-06 12:13] greatquux commented on #61
sigh. we really need something like oomd on the desktop! in that case you really do want just the hogging process to be killed. though i understand this also isn't facebook's priority.  i know my biggest culprit is firefox so i guess i'll try running it in its own cgroup and modify the oom.json to account for this.  good instructions for doing this here:
https://samthursfield.wordpress.com/2015/05

[2019-09-06 12:27] hakavlad commented on #61
@greatquux Look at https://github.com/hakavlad/nohang, it originally disignet for desktop and also supports PSI and GUI notifications, and very flexible.

[2019-09-06 12:39] greatquux commented on #61
thanks @hakavlad that looks awesome! it's probably just a matter of time until distributions start packaging something like this.

[2019-09-06 21:30] #54 closed

[2019-09-10 22:31] hakavlad commented on #84
0.2.0 released, but there is no changelog. How do I write news?

[2019-09-10 22:43] filbranden commented on #90
RPMs for the just released oomd v0.2.0 are available on this COPR repository:
https://copr.fedorainfracloud.org/coprs/filbranden/oomd/

Feel free to use them and please report back on how they work for you!

I'm also going to propose them for inclusion on Fedora.

Cheers,
Filipe

[2019-09-10 22:46] filbranden commented on #90
Proposed for inclusion on Fedora:
https://bugzilla.redhat.com/show_bug.cgi?id=1750983

[2019-09-10 22:47] hakavlad commented on #90
Please add this here https://github.com/facebookincubator/oomd#building-and-installing

[2019-09-10 22:49] filbranden commented on #90
Will do. Preparing a PR for that right now.

[2019-09-11 09:18] danobi commented on #84
I will probably start generating changelogs based on git history.

For now, you can see https://github.com/facebookincubator/oomd/compare/v0.1.0...v0.2.0 for the changes.

[2019-09-13 13:30] danobi commented on #90
Yeah this is most unfortunate. There's been some discussion on the fedora mailing lists about getting gnome to start applications [in their own user slices][https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/MML5MAKBFNEXBT67TCOVUWGFNOUDYUUP/]. This would be more in line with how we handle things in the data center. Each cgroup should be a logical block of the syste

[2019-09-13 13:31] danobi commented on #90
I noticed you have a short state-of-the-world in your nohang repo. I would take a patch for a wiki page in this repo for a description if you're interested.

[2019-09-13 17:49] hakavlad commented on #90
yes, please (but I do not quite understand what you mean)

[2019-09-13 18:21] filbranden commented on #90
Just wanted to leave a note here that `oomd-0.2.0-4` is available on Fedora Rawhide already. (So you don't even need the COPR repository there.)

I opened tickets to push it to Fedora 31 and 30 as well (since they seem to have most of the pre-requisites available), so it may end up being included by default there.

I'll be releasing new versions of oomd to Fedora as they become available, so feel

[2019-09-13 18:21] #90 closed

[2019-09-13 18:23] filbranden commented on #84
In other projects I manage, I tend to point people at the commit log instead:

https://github.com/facebookincubator/oomd/compare/v0.1.0...v0.2.0

Oh, I noticed this is just what @danobi just said :rofl:

Maybe let's stick to that and close this issue?

[2019-09-13 18:48] #84 closed

[2019-09-19 15:25] hakavlad opened #103 "Packaging for Debian/Ubuntu"
Well, you understand.

[2019-10-28 19:24] bureado commented on #103
A Debian [package](https://tracker.debian.org/pkg/oomd) is in `testing` and `sid`, and looks like [Ubuntu is coming](https://launchpad.net/ubuntu/+source/oomd/0.2.0-2), too. It looks like GCC 8 is kind of a requirement, so it's not building in `bionic`.

[2019-10-28 23:22] hakavlad commented on #103
Thank you!

[2019-10-28 23:22] #103 closed

[2019-11-26 18:55] cdown commented on #79
3013322ab65e0efbbb3fd6da3258925b24182eba should also help a bit in the interim, since it avoids going through these code paths. In my tests, depending on cgroup hierarchy size, it can save from 10-20% CPU.

[2020-02-01 20:09] diegonvs opened #118 "Error when trying to build the project"
Hey folks, I'm currently trying to build the project from the source but the following error is happening:

[code]

I have meson, vcpkg and jsoncpp installed here.

[2020-02-01 20:15] #118 closed

[2020-02-09 14:06] hakavlad opened #119 "I'm afraid that PSI measurements are totally off either due to a kernel bug or MuQSS."
Hi! See https://github.com/hakavlad/nohang/issues/25#issuecomment-521390412 and below:

It killed bees (btrfs dedup) while the memory & swap was mostly free.
nohang should check if memory is increasing or if available memory is low.
Memory pressure probably happened because I was compiling a new kernel.
Also, I use muqss scheduler with high frequency timer (1000HZ).

It can stay high for many minu

[2020-02-10 23:43] danobi commented on #119
I left a comment. Unfortunately this is not really related to oomd so I'm going to close this out.

[2020-02-10 23:43] #119 closed

[2020-03-06 15:04] nartes opened #122 "doesn't kill cgroup, unable to set xattr trusted.oomd_ooms=1"
**Description:** `oomd` has identified a process, but can't kill it.

**Package:** https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=oomd

[code]

[2020-03-09 18:55] danobi commented on #122
In
[code]
`E1` means kill(<pid>, SIGKILL) failed with EPERM. Is oomd running with the right permissions?

In
[code]
`errno=30` means setxattr failed with EROFS (readonly FS).

Are you using a hybrid cgroup1 + cgroup2 setup? May be unrelated but would be good to know.

[2020-03-09 19:41] nartes commented on #122
@danobi perhaps it is some issue with cgroups permissions setup.
Could you tell me some bash commands to debug a killing procedure?
I didn't read the source yet, but thought about just hacking it with `system('kill -9 %d', process_pid)` in Fs.cpp instead of cryptic `trusted.oomd_kill = 0` attributes.
What is this attribute, is it related to a facebook contributed kernel module?
I didn't find any d

[2020-03-09 20:42] danobi commented on #122
This is the kill code: https://github.com/facebookincubator/oomd/blob/master/src/oomd/plugins/BaseKillPlugin.cpp#L138

It's an extended attribute. See `man 7 xattr` for more details. It's so delegated cgroup subtrees can know when a kill was performed.

Your `systemctl status oomd` shows dry-run mode on. With dry run mode on for plugins the previous log messages cannot have been printed. Are you s

[2020-03-09 20:43] danobi commented on #122
Can you also share the oomd config you're using?

[2020-03-10 00:00] nartes commented on #122
It is in dry-run, but the above problem has been reported without it. I've used dry run mode to debug killing selector.

[code]

[2020-04-12 10:45] minecraft2048 opened #125 "How do I set oomd to kill process instead of cgroup?"
I'm running oomd on ubuntu 19.10 with default configuration, except that I changed `"user pressure above 60 for 30s",` to

[code]
so that I can trigger it more easily using stress, then when I trigger it, this happens:

[code]

It kills everything in user cgroup, killing my desktop. Is there a way to set it up so it only kills the process with highest memory usage?

[2020-04-12 10:54] hakavlad commented on #125
@minecraft2048 oomd kills only whole cgroup. It cannot kill separate process. If you looking for low memory handler for desktop computer that can wokk wih PSI look at https://github.com/hakavlad/nohang

[2020-04-12 12:25] minecraft2048 commented on #125
Looks like thats the thing that I need

[2020-04-12 12:25] #125 closed

[2020-05-07 14:33] Pushergene opened #128 "/sys/fs/cgroup is not a valid cgroup2 filesystem"
/sys/fs/cgroup> ls
blkio  cpuacct      cpuset   freezer  memory   net_cls,net_prio  perf_event  rdma     unified
cpu    cpu,cpuacct  devices  hugetlb  net_cls  net_prio          pids        systemd

How can i fix it? I compiled from source, using OpenSUSE Tumbleweed with psi=1.
https://github.com/openSUSE/kernel-source/blob/master/config/x86_64/default

 is there something which does prevent it?

[2020-05-07 16:54] hakavlad commented on #128
Maybe you use mixed cgroup hierarchy. Could you provide `cat /proc/self/cgroup`?

[2020-05-07 16:57] hakavlad commented on #128
See also https://github.com/facebookincubator/oomd/blob/master/docs/production_setup.md#kernel-command-line

[2020-05-07 17:47] cdown commented on #128
oomd requires cgroup v2, but the hierarchy you're showing is cgroup v1.

You can enable tell systemd to use the new unified hierarchy and disable the old controllers with `cgroup_no_v1=all` on the kernel command line.

[2020-05-17 09:55] Pushergene commented on #128
Can that be dangerous? i mean it probably has a readon why its not enabled by default.

[2020-05-18 01:15] cdown commented on #128
I'm gonna go ahead and close this one, I'm pretty sure the answer here is just to use cgroup v2, as required :-)

[2020-05-18 01:15] #128 closed

[2020-05-22 14:59] hakavlad opened #129 "man page should be located in man8, not in man1"
[code]
https://www.mankier.com/1/man.mandoc

`oomd` is system maintenance and operation tool. That's why man page should be located at `/usr/share/man/man8/`.

[2020-06-04 20:05] hakavlad commented on #129
wontfix

[2020-06-04 20:05] #129 closed

[2020-07-01 16:47] chaopli opened #134 "Possibility to abstract the stat collector"
Hi, we are running kernel 4.5 now which does not have PSI. Any plan to abstract this part to be configurable instead of having to read stat from the PSI output?

Thanks!

[2020-07-01 18:35] danobi commented on #134
Probably not. The whole premise behind oomd is to take advantage of PSI and without it I don't think oomd would work.

[2020-07-01 18:35] #134 closed

[2021-04-20 15:24] nukedupe opened #149 "error: call to ‘__open_missing_mode’ declared with attribute error: open with O_CREAT or O_TMPFILE..."
I try to compile but it fails.
[code]

[2021-07-27 21:44] danobi commented on #149
Fixed in 4b7aae01486f4

[2021-07-27 21:44] #149 closed

[2022-01-12 15:34] steverweber opened #154 "prekill_hooks to run a shell script"
I might just be missing something obvious but the documents don't seem to have an example of hooking a bash script using prekill_hooks. I'm wondering if that is possible or something that can be added because it would add a bunch of flexibility.

My use case:
 - a university managing large shared multi user servers
 - often users have code that'll try and eat up all the memory I kill'em off when n

[2022-02-22 03:41] jelmd opened #155 "KillMemoryGrowth-inl.h: misleading ologKillTarget message for SIZE_NO_THRESHOLD"
For analysis it is important to know, why and which cgroup got killed. In case of SIZE_NO_THRESHOLD it is misleading, not clear for anybody, which hasn't read and understood the source code. E.g.:
[code]

Actually, even the `of total ... MiB` part is misleading, because the total memory of the system has no impact at all on the decision made -  but many users think of `MemTotal` from `/proc/meminf

[2022-02-22 04:42] jelmd opened #156 "KillMemoryGrowth<Base>::get_ranking_fn() should be SEGV safe"
`growing_size_percentile >= 100` causes SEGV

[2022-02-26 06:48] jelmd opened #157 "Inefficient TryToKillSomething(): ranking gets made twice for a single run"
Right now  TryToKillSomething() seems to be very inefficient, because for a single evaluation ranking functions get called twice and including calculation of current overall memory usage (3 times). There should probably be an opaque structure containing the related information (e.g. wrt. `src/oomd/plugins/KillMemoryGrowth-inl.h`: KMGPhase, sum_current_mem_cgroups, sum_effective_mem_cgroups), which

[2022-02-28 07:09] jelmd opened #158 "memleaks ???"
Each time a detection group/action fires, oomd RSS mem usage (`/sys/fs/cgroup/system.slice/oomd.service/memory.current`) rises in my test environment ~ 400..500 KiB. Are there any mem leaks?

[2022-03-01 19:25] cristiancw opened #159 "Prevent specific app to kill - doubt"
There is a way, using the rulerset and plugins, to avoid some app (instead of service) to be kill?

[2022-03-14 21:30] #156 closed

[2022-03-14 21:30] #155 closed

[2022-03-14 21:30] #79 closed

[2022-07-13 16:10] lnyng commented on #158
We are not aware of any memory leak as for now. It's hard to tell if what you observe is a memory leak without more details. If this RSS rise accumulates to some unreasonable amount, please show some script to reproduce so we can investigate.

[2022-07-13 16:10] #158 closed

[2022-07-13 16:51] jelmd commented on #158
ok, thanx. Haven't had the time to do deeper analysis, yet (and because I'm not a C++ expert it is hard for me to find out anything). Anyway, just asking to avoid waisting resources by digging into stuff, which has been already solved.

[2022-08-06 04:51] SnakeOld opened #163 "Oomd"
https://github.com/facebookincubator- [ ] /oomd/tree/main

[2022-08-06 04:53] #163 closed

[2022-08-06 20:59] SnakeOld opened #164 "Cgroup1"
git://git.kernel.org/pub/scm/linux/kernel/git/tj/cgroup.git

[2022-08-09 19:42] #164 closed

[2022-08-23 21:05] davidspencerward opened #165 "No timestamps in oomd output"
We are logging the output of oomd to /var/log/oomd.log. Here is the beginning of the log file:

root@echo:/sys/fs/cgroup# cat /var/log/oomd.log
oomd running with conf_file=/etc/oomd/oomd.json interval=5
[../src/oomd/config/ConfigTypes.cpp:42]  0 PrekillHooks=
[../src/oomd/config/ConfigTypes.cpp:61]  3 Rulesets=
[../src/oomd/config/ConfigTypes.cpp:65]    Ruleset=system overview
[../src/oomd/config/

[2022-09-21 03:20] RunningDroid commented on #11
Sorry for bumping an old issue, but it looks like https://github.com/facebookincubator/oomd/commit/33c4bda97209e8be3f6702bc29bd692a8d0b5096 resolves this

[2022-11-03 20:06] jordan-schneider opened #166 "Meson build fails due to dumpKillInfo"
gcc3.8, python3.7, trying to build according to instructions in README.md

ninja -C build fails with the following error.

[code]

[2022-11-03 20:09] jordan-schneider commented on #166
Looks like CI has also been broken for two commits. If I checkout the last commit where CI wasn't broken it works.

[2022-11-03 20:12] dschatzberg commented on #166
Sorry about that Jordan - I'll look into fixing this

[2022-11-04 16:43] dschatzberg commented on #166
Should be fixed by https://github.com/facebookincubator/oomd/commit/2e63235f3c7104897ece18966b6a5db12013daf3

[2022-11-04 16:43] #166 closed